@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Righteous&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
} 
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}
#container
{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:#00BFFF;
    border-radius: 50%;
    box-shadow: 0 0 15px ;
    padding: 60px; 
    transition: 0.5s;
}
#minutes
{
    font-size: 3em;
}
.btns
{
    box-shadow: 0 4px 4px #1c1c1c;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    padding: 6px;
    border-radius:10px;
    background: #F0F8FF;
}
#types.modal
{
    
}
/*Dark modal*/
#container.dark body
{
    background-color: #100f2c;   
    transition: 0.5s;
}
#container.dark
{
    background-color: #00008B;
    color: #F0F8FF;
    transition: 0.5s;
}
#container.dark .btns
{
    box-shadow: 0 4px 4px #F0F8FF;
    background: #191970;
    color: #F0F8FF;
}
