@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Righteous&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
} 
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 2em;
}
#container
{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:#00BFFF;
    border-radius: 50%;
    box-shadow: 0 0 15px ;
    padding: 60px; 
    transition: 0.5s;
}
#minutes
{
    font-size: 3em;
}
.btns
{
    box-shadow: 0 4px 4px ;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    padding: 6px;
    border-radius:10px;
    background: #F0F8FF;
}
/*Dark mode*/
.dark
{
    background-color: #161527;   
    transition: 0.5s;
}
.dark #container
{
    background-color: #1c1c1c;
    color: #08ff12;
    transition: 0.5s;
}
.dark .btns
{
    box-shadow: 0 4px 4px #08ff12;
    background: #383852;
    color: #08ff12;
    transition: 0.5s;
}

